<html class="w-full h-full">
    {{ template "head" . }}
    <link rel="stylesheet" href="assets/dist/main.css" />
    <body class="bg-gray-100 w-full h-full p-3">
        {{ template "form" . }}
    </body>
</html>